<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Arananİş.Com</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-item.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Arananİş.Com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li> 
           <li class="nav-item float-right">
              <a class="navbar-brand" id="profil" href="#">
                <img src="https://st3.depositphotos.com/3557671/12516/v/950/depositphotos_125169086-stock-illustration-man-with-beard-icon-cartoon.jpg"  id="Profil_image" width="50" height="50" class="d-inline-block align-top" alt="">
                 
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav> 

  <!-- Page Content -->
  <div class="container">

    
    <div class="row my-5">

      <div class="col-lg-3">
 
          <h4  class="list-group-item mt-5 ">Filtreleme Seçenekleri</h4> 
        
		<div class="accordion list-group-item" id="accordionExample"> 
		       
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          İstenen Tecrübe
		        </button> 
		       
		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault">
				    Yeni Mezun
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
				  <label class="form-check-label" for="flexCheckChecked">
				     En Az 1 Yıl
				  </label>
				</div>
		    
		  </div> 
		</div> 
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9 my-5">
  <div class="dropdown float-right mt-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sıralama Ölçütü
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Tarihe Göre</a>
    <a class="dropdown-item" href="#">Maaş Bilgisine Göre</a>
    <a class="dropdown-item" href="#">Filtrelere Uygunluğuna Göre</a>
  </div>
</div>
  <h4 class="my-5"> İlanlar </h4> 

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/063070c103fe6fdbacc8ffb816c586df" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">AI Research Intern</a>
                </h4>
                <h5>Afiniti İstanbul</h5>
                <p class="card-text">Synthesize research literature in the areas of statistical modeling, </p>
                <p class="card-text"> Maaş Bilgisi </p>
                <a href="#"   onclick="openNav()" class="card-text">Ayrıntılar için tıklayın</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Two</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Four</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

           

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 
  <div id="mySidebar"  class="sidebar my-3">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="#" >İŞ AYRINTILARI</a> 

 <div class="card card-outline-secondary my-4">
        
          <div class="card-body">
            <h4>Who are we? </h4>

            <p>Afiniti is the world’s leading applied artificial intelligence and advanced analytics provider. Afiniti Enterprise Behavioral Pairing™ uses artificial intelligence to identify subtle and valuable patterns of human interaction in order to pair individuals on the basis of behavior, leading to more successful interactions and measurable increases in enterprise profitability. Afiniti operates throughout the world and has measurably driven billions of dollars in incremental value for our clients. </p> 
            <hr>
            <h4>Key Responsibilities</h4>
            <ul>
              <li>Identify the business cases where our research methods/tools can add value</li> 
              <li>Conduct empirical research and develop methods/tools to help improve the effectiveness of our modeling tools and runtime applications.</li>
              <li>Synthesize research literature in the areas of statistical modeling, machine learning, operations research and identify if they can be built into our tools.</li> 
            </ul>
            <hr>
            <h4>Education and Qualifications</h4>
           <ul>
            <li>Enrolled in a graduate degree program in Statistics, Mathematics, Econometrics, Operations Research, or other field with relevant research</li>
           </ul>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">CV GÖNDER</a>
          </div>
        </div>



    </div>



<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "50%";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
   
</body>

</html>
